@charset "UTF-8";

body {
	background-color: #E68CBC;
	margin: 0;
	padding: 0;
}

nav {
	color: white;
	background-color: #AAE069;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: white;
	text-decoration: none;
	margin: 0 10px;
}

#logo {
	display: block;
	margin: 50px auto;
	width: 35%;
}

#logo-text {
	font-size: 20px;
	font-weight: bold;
	margin-right: auto;
}

#logo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#logo-text2 {
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 20px;
}

#box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#diary, #album, #concept {
	width: 270px;
	height: 270px;
	margin: 30px;
	font-size: 20px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	color: black;
}

.box-description {
	font-size: 15px;
	color: #555;
	margin-top: 5px;
	display: block;
	padding: 20px;
	line-height: 1.8;
}

#info {
	text-align: center;
}

#info a {
	font-size: 18px;
	text-decoration: none;
	color: white;
}